@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Signika:wght@300..700&display=swap');

body {
    background-color: rgb(30, 41, 51);
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 16px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(1, 230, 255);
}

a:hover, a:focus {
    color: rgb(255, 255, 255);
}

ol {
    list-style: none;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
}

li {
    padding: .5rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    
}

#home {
    list-style: url(../images/homepage_icon.png);
}

#koala {
    list-style: url(../images/koala_icon.png);
}

#pathname {
    list-style: url(../images/pathname_icon.png);
}

#flexbox {
    list-style: url(../images/flexbox-logo.png);
}

#cocoa {
    list-style: url(../images/cocoa-site-logo.png);
}

#koala-form {
    list-style: url(../images/koala_icon.png);
}

#sch {
    list-style: url(../images/coffee-logo.png);
}

.profile-picture {
    height: 500px;
    width: 500px;
    float: right;
    background-color: rgb(2, 21, 39);
    border-radius: 30rem;
    border-style: solid;
}